<nav style="background: white; padding: 15px; box-shadow: 0px 4px 6px rgba(0,0,0,0.1);">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <!-- Logo -->
        <div>
            <a href="/" style="text-decoration: none; color: darkred; font-size: 24px; font-weight: bold;">
                Chinmudra Academy
            </a>
        </div>

        <div>
            <% if (session.userId && session.role === 'user') { %>
                <a href="/chinmudra/dashboard" style="margin-right: 15px; color: darkred; text-decoration: none;">Dashboard</a>
                <a href="/chinmudra/batches" style="margin-right: 15px; color: darkred; text-decoration: none;">Batches</a>
                <a href="/chinmudra/payments/history/<%=session.userId%>" style="margin-right: 15px; color: darkred; text-decoration: none;">Payment History</a>
            <% } %>
        
            <% if (!session.userId ) { %>
                <a href="/chinmudra/admin/login" style="margin-right: 15px; color: darkred; text-decoration: none;">Admin</a>
            <% } %>
        
            <% if (session.userId) { %>
                <a href="/chinmudra/logout" style="color: darkred; text-decoration: none;">Logout</a>
            <% } else { %>
                <a href="/chinmudra/login" style="margin-right: 15px; color: darkred; text-decoration: none;">Login</a>
                <a href="/chinmudra/register" style="color: darkred; text-decoration: none;">Signup</a>
            <% } %>
        </div>
    </div>
</nav>
